g1 = #F2F2F2
g2 = #E0E0E0

body
  padding: 50px
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif
  

a.button
  padding: 10px
  text-decoration: none 
a.hover

#nav-bar
  position: fixed
  width: 100%
  top: 0px
  left: 0%
  background-color: #F1EFFF;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(g1), to(g2));
  background: -webkit-linear-gradient(top, g1, g2);
  background: -moz-linear-gradient(top, g1, g2);
  background: -ms-linear-gradient(top, g1, g2);
  background: -o-linear-gradient(top, g1, g2);

#search
  position: fixed
  top: 0px
  right: 20%
  
#footer
  padding: 10px
  position: fixed
  bottom: 0px
  right: 50%
