html, body
  font: 16px Helvetica, Arial, sans-serif  
  height: 100%
  width: 100%
  overflow: hidden

.navbar
  background-color: rgba(136, 159, 151, .5) !important
  margin-bottom: 0 !important

.table td
  border-top: none 

#wrap
  height: 100%
  width: 100%

a:hover
  opacity: 0.5


// Content and main-content styles

#content
  height:100%
  width:100%
  background-image:url('/images/texture3.png')

#main-content
  margin-top: 1%
  margin-bottom: 1%
  margin-left: 15%
  margin-right: 15%
  height: 84%
  background-color: rgba(256, 256, 256, .85)
  overflow-y: auto !important



#contentBox
  height: 80%
  width: 90%
  margin: 0 auto

.columnLeft
  float: left
  margin: 0 auto
  width: 40%
  height: 100%
  border: 3px solid rgba(0, 0, 0, .1)
  background-color: rgba(220, 220, 220, .80)
  text-align: center
  -moz-border-radius: 15px
  border-radius: 15px

.columnRight
  float: right
  margin: 0 auto
  width: 40%
  height: 100%
  border: 3px solid rgba(0, 0, 0, .1)
  background-color: rgba(220, 220, 220, .80)
  text-align: center
  -moz-border-radius: 15px
  border-radius: 15px

.underline
  border-bottom: 5px solid rgba(0, 0, 0, .80)
  margin: 5%
  
#user-profile
  padding: 10px
  background-color: rgba(19,164,157, .12)

.right-label
  text-align: right !important

.sub-nav
  padding-left: 5px
  background-color:rgba(19,164,157, .12)

.product-capsule
    background-color: rgba(256, 256, 256, 0.8)
    -moz-box-sizing: border-box
    border: 1px solid #AAAAAA
    border-radius: 3px
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25)
    float: left
    margin-bottom: 28px
    margin-left: 28px
    position: relative
    transition: all 0.2s ease-out 0s
    width: 224px

.capsule-top 
    text-align: center
    font-size: 14px
    padding: 6px
    position: relative

.capsule-top-prices
    text-align: center
    font-size: 10px
    position: relative

.capsule-image 
    -moz-border-bottom-colors: none
    -moz-border-left-colors: none
    -moz-border-right-colors: none
    -moz-border-top-colors: none
    background-color: rgba(0, 0, 0, 0.0)
    border-color: rgba(0, 0, 0, 0.0)
    border-image: none
    border-radius: 3px 3px 0 0
    border-style: solid solid none
    border-width: 4px 4px 0
    display: block

.capsule-image img 
    display: block
    height: 170px
    width: 214px

.capsule-bottom
    border-bottom: 1px solid #888888
    border-radius: 0 0 3px 3px
    padding: 2px
    position: relative
    text-align: center
    font-size: 12px

.capsule-hover
    position:absolute  
    display: none
    height: 62px
    width: 214px
    margin-left: 4px
    background-color: rgba(0, 0, 0, 0.8)
    top:140px;
    font-size: 11px
    color: rgba(256, 256, 256, 0.8)
