.productImg
  width: 200px
  height: 300px

#leftProduct
  float: left

#rightProduct
  float: right

.rate-slider, .rating, .rate-button
  postion: absolute
  padding-left: 50px


#chuzOff, #rateMe
  align: center
  width: 50%
  margin: 0 auto

.product
  text-align: center

#header
  text-align: center

#results
  margin-top: 350px

.highlight
  width: 200px
  height: 300px
  &:hover
    opacity: 0.8
    color: #FF00FF