.productImg
  width: 200px
  height: 300px

#productContainerLeft
  position: absolute
  left: 0px

#productContainerRight
  position: absolute
  right: 0px


#leftProduct
  float: left


#rightProduct
  float: right

.product
  text-align: center
  display: inline

#header
  text-align: center

#results
  margin-top: 350px

.highlight
  width: 200px
  height: 300px
  background: #FF00FF
  position: absolute
  top: 0px
  left: 0px
  opacity: 0
  &:hover
    opacity: 0.5
