// Styles for all games //

#chuzOff, #rateMe
  width: 80%
  align: center
  margin: 0 auto

#header
  text-align: center



// Chuzoff styles

.productImg
  width: 300px
  height: 300px

#leftProduct
  float: left

#rightProduct
  float: right

.highlight
  width: 300px
  height: 300px
  &:hover
    opacity: 0.8
    color: #FF00FF

#results
  margin-top: 370px

.product
  text-align: center



// Rateme styles

.rate-slider, .rating, .rate-button
  postion: absolute
  padding-left: 50px


// Up down styles

.arrow
  height: 200px
  width: 192px
