#header
  text-align: center


#game1
  float: left
  width: 23.3%
  margin-left: 7%
  text-align: center
  button
    border: none
  img
    height: 250px
    border: 3px solid orange
    margin-bottom: 5%

#game2
  float: left
  width: 23.3%
  margin-left: 6.5%
  text-align: center
  button
    border: none
  img
    height: 250px
    border: 3px solid orange
    margin-bottom: 5%

#game3
  float: right
  width: 23.3%
  margin-right: 10%
  text-align: center
  button
    border: none
  img
    height: 250px
    border: 3px solid orange
    margin-bottom: 5%
