#header
  text-align: center


#game1
  float: left
  width: 23.3%
  margin-left: 15%

#game2
  float: left
  width: 23.3%
  text-align: center

#game3
  float: right
  width: 23.3%
  margin-right: 15%
  text-align: right
