h1, h3
  color: orange

h1
  margin-left: 1%

.info-block
  margin: 5%
  padding: 1%
  padding-bottom: 2%
  border-radius: 7px
  background: #EDF7FA
  opacity: 0.7

.product-image-rating
  margin-left: 5%
  margin-bottom: 2%;
  .img
    width: 300px
    height: 300px
    border-radius: 7px
  .current-product-rating
    text-align: center
    .rating
      margin: 3%
      color: #6F6F6F
      font-size: 3em

.url-to-purchase
  margin-left: 15%

.product-description
  .description
    margin-left: 5%
    color: #6F6F6F

.similar-products
  background: #EDF7FA
