*.mode1v3
*.perspectivev3
*.pbxuser
.DS_Store
build
www/phonegap.js
phonegap-ios-sim-c6fa2ae
*.zip
src/www/spec/lib
src/www/res
src/platform/ios/cordova
src/platform/ios/CordovaLib
src/platform/ios/HelloWorld
src/platform/ios/HelloWorld.xcodeproj