body{
	background-image:url('../../web-client/public/images/texture3.png');
	font-family: arial, helvetica;
}

#visiContainer{
	background-color: white;
	opacity: .8;
	overflow:auto;
	width: auto;
}

#logo{
	float:right;
}


