body{
	background-image:url('../images/texture3.png');
	font-family: arial, helvetica;
}

#visiContainer{
	background-color: rgba(255,255,255,.8);
	overflow:auto;
	width: auto;
}

#logo{
	float:right;
}


