extends layout

block content
  h1= title
  div(class='input-prepend')
    div(class='btn-group')
      select(class='span12')
        option: 'Name'
        option: 'Type'
    input(class='span9', id=prependDropdownButton, type='text')
    div(button id="find-products" class="btn btn-mini" type="button")
      p go

  div(id='results')

  div(class='product-capsule', id=1)
    div(class='capsule-top')
      a(href="http://localhost:3001/play") Janky Furniture
    div(class='capsule-image')
      img(src="http://img0.etsystatic.com/019/0/6088395/il_340x270.480595588_ha0v.jpg")
    div(class='capsule-bottom')
    
  div(class='product-capsule', id=2)
    div(class='capsule-top')
      a(href="http://localhost:3001/play") Fruit Plushes
    div(class='capsule-image')
      img(src="http://img1.etsystatic.com/011/0/6005933/il_340x270.437163685_l3qf.jpg")
    div(class='capsule-bottom')
      
  script(src='/js/browse.js')
