extends layout

block content
  h1= title
  form(class='navbar-search')
    input(type='text', class='search-query', placeholder='Search')
    div(button class="btn btn-mini" type="button")
      p go
