extends layout

block css
  link(href='/stylesheets/categoryGame.css', rel='stylesheet')
  link(href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css', rel='stylesheet')

block content
  h1 Category Game

  div(id = "categoryContainer")
    table(id = "categoryTable" class = "table table-striped table-bordered")

  div(id="productContainer")

  script(src='/js/categoryGame.js')
  script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')

