extends layout

block css
  link(href='/stylesheets/game.css', rel='stylesheet')


block pagetitle
  div(class='page-title')
    img(src="/images/chuzr-labels/png/chuzoff.png")

block content
  div(id='chuzOff')
    div(class='product highlight' id='leftProduct')
      img(class='productImg thumbnail' id='productImgLeft' src='')
      div(id='leftTitle') Shake Weight
    div(class='product highlight' id='rightProduct')
      img(class='productImg thumbnail' id='productImgRight' src='')
      div(id='rightTitle') Furby

  div(id="results")
    h3 Standings
    table(id="standings" class="table table-hover table-condensed")

  script(src='/js/chuzoff.js')
