extends layout

block pagetitle
  div(class='page-title')
    img(src="/images/chuzr-labels/png/home.png")

block content

  div(class='row-fluid')
    div(class='span5 well')
      center
       h1 Welcome To
       img(src='/images/chuzr-logo.png', height='200px', width='200px')
    div(class='span6 feature-div')
      h3 Chuzr?
      p What is chuzr? 
  div(class='row-fluid')
    div(class='span5 feature-div')
      h3 Play Chuzr!
    div(class='span6 well')
      h2 Other people playing chuzr!