doctype 5
html
  head
    title= title
    meta(name ='viewport', content='width=device-width, initial-scale=1.0')
    link(href="//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css", rel="stylesheet")
    link(href='/stylesheets/chuzr.css', rel='stylesheet')
    script(src='/js/chuzrModule.js')
    script(src='/js/user.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js')
    script(src='/js/sideNavToggle.js')
    block css
      
  body
    div(id='wrap')
      div(class='navbar navbar-default', id='nav-bar')
        div(class='navbar-inner')
          ul(class='nav')
            li:  a(href='/home')
              img(src="/images/chuzr-logo.png", height='50', width='50')
            li: a(href='/play') 
              img(src="/images/play-button.png", height='25', width='25')
            li(class='dropdown'): a(href='#', class='dropdown-toggle', data-toggle='dropdown') Social
              b(class='caret')
              ul(class='dropdown-menu')
                li: a(href='/social') Social Home
                li: a(href='#') Friends
                li: a(href='#') Compare
            li(class='dropdown'): a(href='#', class='dropdown-toggle', data-toggle='dropdown') Browse
              b(class='caret')
              ul(class='dropdown-menu')
                li: a(href='/trends') Trends
                li: a(href='/#') Most Popular

          ul(class='nav pull-right')
            form(class='navbar-search')
              input(type='text', class='search-query', placeholder='Search')
            li(class='dropdown'): a(href='#', class='dropdown-toggle', data-toggle='dropdown') Account
              b(class='caret')
              ul(class='dropdown-menu')
                li: a(href='/profile') Profile
                li: a(href='/settings') Settings
                li: a(href='/logout') Logout

      div(class='container', id='content') 
        div(id='main-content')
          block content
      
    div(class='navbar navbar-fixed-bottom',id='footer-nav')
      div(class='navbar-inner')
        ul(class='nav pull-right', id='footer-links')
          li: a(href='/about') about 
          li: a(href='/contact') contact 
          li: a(href='/FAQ') FAQ 
          li: a(href='/feedback') feedback 
          li: a(href='/privacy') privacy
      
    