doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/chuzr.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')

  body
    div(id='nav-bar', class='navbar')
      div(class='navbar-inner')
        a(class='brand', href='#') Chuzr
        ul(class='nav')
          li(class = 'active'): a(href='#') Home
          li: a(href='#') Play
          li: a(href='#') Social
        form(class='navbar-search')
          input(type='text', class='search-query', placeholder='Search')
        ul(class='nav pull-right')
          li(class='dropdown'): a(href='#', class='dropdown-toggle', data-toggle='dropdown') Account
            b(class='caret')
            ul(class='dropdown-menu')
              li: a(href='#') Settings
              li: a(href='#') Logout
            
            
          
    div(class='row-fluid')
      div(class='span2 offset1', id='side-nav')
       h1 Chuzr
         hr
       ul(class='nav nav-tabs nav-stacked', id='side-nav-links')
        li: a(href='#') Home 
        li: a(href='#') Play 
        li: a(href='#') Browse       
        hr
        li: a(href='#') Stuff
        li: a(href='#') Social
        hr
        li: a(href='#') Settings
        
      div(class='span5 ', id='main-content')
        block content
    
    
    div(class='row-fluid', id='footer')
      div(class='pull-right')
        ul(class='nav nav-pills')
          li: a(href='#') about 
          li: a(href='#') contact 
          li: a(href='#') FAQ 
          li: a(href='#') feedback 
          li: a(href='#') privacy
      
    script(src='/js/jquery-1.10.2.js')
    script(src='/js/bootstrap.js')
