extends layout



block content
  link(rel='stylesheet', href='/stylesheets/login.css')
  div(id ='login')
    h1 Welcome to Chuzr
    hr
    center(id='login-content')
      h2
        a(href='#') Log-in with Facebook
      h3 or
      h2 Sign-in
      input(type='text', value='username')
      br
      input(type='password', value='password')
       
        
     
   
