extends layout

block content
  h1= title
  br
  div(class='play' id='play-game')
    div(class='game1' id='game1')
      a(href='/game')
        p game1
    div(class='game2' id='game2')
      a(href='/game')
        p game2
    div(class='game3' id='game3')
      a(href='/game')
        p game3