extends layout

block css
  link(href='/stylesheets/play.css', rel='stylesheet')



block pagetitle
  div(class='page-title')
    img(src="/images/chuzr-labels/png/play.png")


block content
  div(class='play' id='play-game')
    div(id='game1' class='game')
      img(src="/images/chuzOffIcon.png")
      a(href='/chuzoff')
        button(class='btn btn-info') The Chuzoff
    div(id='game2' class='game')
      img(src="/images/rateMeIcon.png")
      a(href='/rateme')
        button(class='btn btn-info') Rate Me
    div(id='game3' class='game')
      img(src="/images/categoriesIcon.png")
      a(href='/categoryGame')
        button(class='btn btn-info') Category Game
