extends layout

block pagetitle
  div(class='page-title')
    img(src="/images/chuzr-labels/png/privacy.png")


block content
  div
    p Here, we would attempt to write something about how we are legally bound to respect your privacy, but in all honesty we 