extends layout

block content
  div(id = 'user-profile')
    img(id='user-photo', src='')
    span(id='user-info')
      h2(id='user-name')
      p(id='user-email')
      p(id='user-login')
      p(id='user-password')
      p(id='user-rep')
      p(id='user-socialHandle')

  script(src='/js/profile.js')
