extends layout

block css
  link(href='/stylesheets/product.css', rel='stylesheet')
  link(href='/stylesheets/game.css', rel='stylesheet')


block pagetitle
  div(class='page-title')
    img(src="/images/chuzr-labels/png/rate-me.png")


block content
  script(src='/js/rateme.js')
  h3(class='product-name span8' product-id=id)
  br
  div(class='product-image-rating row')
    img(class='span8')
    span(class='info-block current-product-rating span3') 
      h3 Current Rating:
      input(type="range" id="product-rating" name="product-rating" min="1" max="10")
      div(id='current-rating')
      
      button(id='rate-button' class='btn btn-info') Save My Rating
  div(class='url-to-purchase row')
    a()
      button(id='url-button' class='btn btn-info btn-block span7') Purchase this Product
  div(class='info-block product-description row')
    h3 Description:
    div(class='description')



