extends layout

block content
  p: h2 Settings
  div(id='forms')
    form(class='form-horizontal', id='settings-form')
      div(class='control-group')
        label(class='control-label', for='displayName') Display Name
        div(class='controls')
          input(type='text', id='displayName', placeholder='Display Name')
      div(class='control-group')
        label(class='control-label', for='name') Name
        div(class='controls')
          input(type='text', id='name', placeholder='Name')
      div(class='control-group')
        label(class='control-label', for='location') City/State
        div(class='controls')
          input(type='text', id='location', placeholder='Los Angeles, CA')
      div(class='control-group')
        label(class='control-label') Birthday
        div(class='controls controls-row')
          input(class='input-mini', type='text', id='birthMonth', placeholder='MM', maxlength='2')
          input(class='input-mini', type='text', id='birthDate', placeholder='DD', maxlength='2')
          input(class='input-mini', type='text', id='birthYear', placeholder='YYYY', maxlength='4')
      div(class='control-group')
        label(class='control-label', for='aboutMe') About Me
        div(class='controls')
          textarea(id='aboutMe', placeholder='A little about yourself...', rows='5')
      div(class='control-group')
        label(class='control-label', for='website') Website
        div(class='controls')
          input(type='text', id='website', placeholder='Website URL')
      div(class='control-group')
        label(class='control-label', for='profilePicture') Profile Picture
        div(class='controls')
          div(class='input-append')
            input(type='text', id='profilePicture', placeholder='coolpicture.jpg')
            button(class='btn', type='button') Browse
            button(class='btn', type='button') Upload
      div(class='control-group')
        label(class='control-label', for='pwConfirmation') Confirm
        div(class='controls')
          input(type='password', id='pwConfirmation', placeholder='password')
          span(class='help-inline') Confirm changes by entering your password
      div(class='control-group')
        div(class='controls')
          button(class='btn', type='button') Submit Changes
    script(src='/js/settings.js')