extend layout

block pagetitle
  div(class='page-title')
    img(src="/images/chuzr-labels/png/trends.png")

block content
    #contentBox
      .columnLeft
        h2(class='underline') Trending Up
        p These items are trending up!
      .columnRight
        h2(class='underline') Trending Down
        p These items are trending down!
        