extend layout


block content
  link(rel='stylesheet', href='/stylesheets/login.css')
  div (class = 'Trends')
    h1= title
    p Trends
      div (class = 'Trending Up')
      div (class = 'Trending Down')